<ul class="container-fluid list-inline d-inline-block d-flex justify-content-center">
  <li class="list-inline-item">
    <h5 class="d-flex justify-content-center">
      <a class="btn" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" routerLink="/details/to-do">Doing!</a>
    </h5>
  </li>
  <li class="list-inline-item">
    <h5 class="d-flex justify-content-center">
      <a class="btn" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" routerLink="/details/to-eat">Eating!</a>
    </h5>
  </li>
  <li class="list-inline-item">
    <h5 class="d-flex justify-content-center">
      <a class="btn" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" routerLink="/details/to-cook">Cooking!</a>
    </h5>
  </li>
</ul>