<div class="container-fluid" id="header">
  <h1>Jim and Fangzhuo's Fun Life</h1>
</div>
<div class="container-fluid" id="all-container">
  <div class="row" id="main-row">
    <div class="col-8" id="lists-container">
      <div class="container-fluid row align-items-start">
        <ul class="col-4 list-group d-inline-block">
          <h6>To Do</h6>
          <li class="list-group-item">
            test item
          </li>
        </ul>
        <ul class="col-4 list-group d-inline-block">
          <h6>To Eat</h6>
        </ul>
        <ul class="col-4 list-group d-inline-block">
          <h6>To Cook</h6>
        </ul>
        <ul class="col-4 list-group d-inline-block">
          <h6>Done</h6>
        </ul>
        <ul class="col-4 list-group d-inline-block">
          <h6>Eaten</h6>
        </ul>
        <ul class="col-4 list-group d-inline-block">
          <h6>Cooked</h6>
        </ul>
      </div>
    </div>
    <div class="col-4" id="comments-container">
      <h4>Comments</h4>
      <p>Coming soon!</p>
    </div>
  </div>
</div>