version: '2'
networks:
  planner:
volumes:
  planner-redis-volume:
services:
  planner-auth:
    container_name: planner-auth
    image: jimbrighter/planner-auth:latest
    ports:
      - "8442:8442"
    mem_limit: 256m
    restart: always
    depends_on:
      - planner-redis
    networks:
      planner:
        aliases:
          - auth
    volumes:
      - /home/jbrighter/certs:/certs
    env_file: secrets.env
  
  planner-svc:
    container_name: planner-svc
    image: jimbrighter/planner-svc:latest
    ports:
      - "8443:8443"
    mem_limit: 512m
    restart: always
    depends_on:
      - planner-db
      - planner-redis
    networks:
      planner:
        aliases:
          - app
    volumes:
      - /home/jbrighter/certs:/certs
    env_file: secrets.env

  planner-ui:
    container_name: planner-ui
    image: jimbrighter/planner-ui:latest
    ports:
      - "80:80"
      - "443:443"
    mem_limit: 50m
    restart: always
    networks:
      planner:
        aliases:
          - ui
    volumes:
      - /home/jbrighter/certs:/certs

  planner-db:
    container_name: planner-db
    image: jimbrighter/planner-db:latest
    mem_limit: 100m
    restart: always
    networks:
      planner:
        aliases:
          - db
    volumes:
      - /home/jbrighter/postgres:/var/lib/postgresql/data
    env_file: secrets.env

  planner-redis:
    container_name: planner-redis
    image: redis:4-alpine
    mem_limit: 50m
    restart: always
    networks:
      planner:
        aliases:
          - redis
    volumes:
      - planner-redis-volume:/data
