<div class="container h-100 d-flex justify-content-center">
  <div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-12">
      <h1>Jim and Fangzhuo</h1>
      <ul class="container-fluid list-inline d-inline-block d-flex justify-content-center">
        <li class="list-inline-item">
          <h5 class="d-flex justify-content-center">
            <a routerLink="/details/to-do">Doing!</a>
          </h5>
        </li>
        <li class="list-inline-item">
          <h5 class="d-flex justify-content-center">
            <a routerLink="/details/to-eat">Eating!</a>
          </h5>
        </li>
        <li class="list-inline-item">
          <h5 class="d-flex justify-content-center">
            <a routerLink="/details/to-cook">Cooking!</a>
          </h5>
        </li>
      </ul>
    </div>
  </div>
</div>